
nav {
    width: 80%;
    margin: auto;
    min-height: 10vh;
    padding: 3rem 0rem;
    display: flex;
    justify-content: space-between;
    align-items: left;

    ul  {
        display: flex;
        justify-content: space-between;
        flex: 1;
    }

    #logo {
        flex: 3;
        }
}



.showcase {
    display: grid;
    min-height: 90vh;
    // grid-template-columns: 25% repeat(2, 1fr) 25%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;    
}

img {
    grid-column: 2;
    grid-row: 2/3;
    height: 90%;
    width: 100%;
    min-width: 190px;
    align-self: center;
    justify-self: center;

}
.gooey{
    fill: #d35b5b;
    grid-column: 2;
    grid-row: 2/3;
    height: 90%;
    width: 100%;
    min-width: 190px;
    align-self: center;
    justify-self: center;

}

h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    text-align: left;
}
h2 {
    font-weight: 300;
    font-size: 24px;
    text-align: left;
}
.info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: left;
    grid-column: 1;
    grid-row: 2/3;
    padding-left: 85px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2/3;
    grid-row: 2/3;
}

